/* CARDS BLOCK */

.cards_block{
	background-color: black;
}

.cards-list {
	padding: 100px 0 ;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
}

.cards {
	background-color: #ccc;
	border: 1px solid red;
	border-radius: 8px;
	width: 300px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	text-align: center;
	transition: transform 0.4s;
}

.cards img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.cards h2 {
	font-size: 14px;
	margin: 16px 0 8px;
	color: red;
}

.cards h4 {
	font-size: 16px;
	color: #555;
	margin-bottom: 16px;
}

.cards:hover {
	transform: scale(1.05);
}